extends ../layout

block content
  h1 Books
  p Listing all books
  p
    a.button(href="/books/new") Create New Book

  each book in books
    h2= book.title
    a(href = "/books/" + book.id) Read More &rarr;
